@page "/albums"
@inject ISetListrDb Db

<h3>Albums</h3>
@if (albums is null)
{
    <p>Loading...</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Release Date</th>
                <th>Song Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var album in albums)
            {
                <tr>
                    <td>@album.Name</td>
                    <td>@album.ReleaseDate?.ToShortDateString()</td>
                    <td>@album.Songs.Count</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Album>? albums;

    protected override void OnInitialized()
    {
        albums = Db.Albums.ToList();
    }
}