@page "/"

<h1>Welcome to SetListr</h1>

<div style="display: flex; align-items: center; gap: 2px;">
  A tiny app to manage setlists. See the <FluentAnchor Href="https://github.com/ryzngard/SetListr" Appearance="Appearance.Hypertext">source code</FluentAnchor>or even<FluentAnchor Href="https://github.com/ryzngard/SetListr/issues" Appearance="Appearance.Hypertext">file an issue</FluentAnchor>.
</div>